.columna-componente{
	/*border: 2px blue solid;*/
    height: 133px;
    width: 210px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding:0px;
}
.panel-componente{
	/*border: 2px red solid;*/
    height: 100%;
    width: 100%;
}
.categorias-head{
	/*border: 2px grey solid;*/
	height: 26%;
}
.body-series{
	/*border: 2px green solid;*/
	height: 77%;
	padding: 0px
}

.serie-section{
	border: 2px grey solid;
	height: 100%;
	padding: 0px;
	width: 49%;
}
.img-serie{
	height: 79%;
}