<div class="row" id="container-componentes" >
	<div class="col-lg-1 columna-componente" style="float:left;margin-left: 36%;" ng-repeat="series in globaldata">
		<div ng-repeat="detalle in series.campos" style="width: 100%;height:100%;float: left;    margin-bottom: 18px;">
			<div class="panel {{detalle.class}} panel-componente">
				<div class="panel-heading categorias-head">
					<h3 style="margin-bottom: -4px;margin-top:-11px;font-family: 'Concert One';">{{detalle.tipo}}</h3>
				</div>
				<div class="panel-body body-series">
					<div class="col-lg-1 serie-section" style="float: left;width: 100%;">
						<a href="#/CatalogoPrincipal/seriesjapo/Anime/{{series.nombre}}_{{detalle.tipo}}">
							<ul class="grid cs-style-4" >
								<li>
									<figure >
										<div catalogo-img="{{detalle.img}}"></div>
										<figcaption>
											<h3>Ver</h3>
										</figcaption>
									</figure>
								</li>
							</ul>
						</a>
	  					<div class="panel-footer">
	  						<span class="label label-default">{{detalle.n}}</span>
	  						<span class="label label-success"> </span>
	  					</div>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>

<!-- <div ng-repeat="series in globaldata">
	<div ng-if="!series.multiple">
		<h3>{{series.ncapitulos}}</h3>
	</div>
</div> -->